<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container"> -->
  <ion-card>
  <img alt="Silhouette of mountains" src="../../../assets/foto-me.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Karawang</ion-card-subtitle>
    <ion-card-title>{{ form.email }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<!-- </div> -->
</ion-content>
